.NavBar {
  color: black;
  background-color: #cd8d51;
  min-height: 120px;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 6px;
  display: flex;
  align-items: center;
}

.navLinks {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
  border: 1px solid #cd8d51;
  border-radius: 30px;
}

.navLink {
  position: relative;
  overflow: hidden;
  color: black;
  z-index: 1;
  border: 1px solid #cd8d51;
  border-radius: 30px;
  text-decoration: none;
  padding: 5px 10px 5px 10px;
  transition: color 0.8s ease, box-shadow 0.8s ease;
}

.navLink::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  transform: translateY(-100%);
  transition: transform 0.8s ease;
}

.navLink:hover::before {
  transform: translateY(0) !important;
}

.navLink:hover {
  color: #cd8d51 !important;
  border: 1px solid #cd8d51;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.Active {
  color: #cd8d51;
  background-color: black;
  border: 1px solid #cd8d51;
  border-radius: 30px;
}

.Logo {
  font-weight: 700;
  font-size: 30px;
  padding-bottom: 30px;
  padding-top: 30px;
  color: black !important;
  text-decoration: none;
}

/* styling for smaller screens */

@media (max-width: 991px) {
  /* Styles for screens smaller than or equal to 991px */
  .navLinks {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  /* Styles for screens smaller than or equal to 600px */
  .Logo {
    font-size: 25px;
    padding-bottom: 32px;
    padding-top: 32px;
  }
}

/* styling for smaller screens below 380px */

@media (max-width: 410px) {
  /* Styles for screens smaller than or equal to 380px */
  .Logo {
    font-size: 20px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-bottom: 36px;
    padding-top: 36px;
  }
  .MenuIcon {
    font-size: 20px;
    padding: 5px;
    
  }
}