.slideshow {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    border: 2px solid #ddd;
    border-radius: 10px;
    background-color: #f0f0f0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 900px;
    margin-top: 120px;
  }
  
  .slideImage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity 5s ease-in-out;
  }
  
  .slideImage.active {
    opacity: 1;
  }