.App {
  text-align: center;
}

.Navbar {
  color: black;
  background-color: #cd8d51;
  min-height: 100px;
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  padding-left: 50px;
}